body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 18px;
  font-family: "impact";
}

div {
  display: flex;
  flex-direction: column;
}

body, #app, .app, .hanoi {
  height: 100vh;
}

.dark-mode {
  filter: invert(100%);
  background-color: black;
}

.hanoi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1em auto;
  grid-template-areas: ". . ."
                         "t1 t2 t3";
  font-size: 2em;
  width: 18em;
  align-self: center;
}

.hanoi.intro {
  grid-template-areas: "title title title"
                       "intro intro intro"
                       "bottom bottom bottom";
}

.introduction {
  grid-area: intro;
  text-align: center;
}

.hanoi.complete {
  grid-template-areas: "title title title"
                       ". complete ."
                       "bottom bottom bottom";
}

.hanoi-title {
  grid-area: title;
  align-items: center;
}

#t1 {
  grid-area: t1;
}
#t2 {
  grid-area: t2;
}
#t3 {
  grid-area: t3;
}

.complete #t1, .complete #t2, .complete #t3 {
  grid-area: complete;
}

.tower {
  height: 8em;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.disks {
  align-items: center;
  width: 100%;
  position: absolute;
  top: 33px;
}

.disk {
  height: .6em;
  margin-bottom: .13em;
  border-radius: 5px;
}

.disks .disk:nth-child(1){
  width: 20%;
}
.disks .disk:nth-child(2){
  width: 30%;
}
.disks .disk:nth-child(3){
  width: 40%;
}
.disks .disk:nth-child(4){
  width: 50%;
}
.disks .disk:nth-child(5){
  width: 60%;
}
.disks .disk:nth-child(6){
  width: 70%;
}
.disks .disk:nth-child(7){
  width: 80%;
}

.active-disk {
  position: absolute;
  top: 0;
}

.active-tower {
  margin-top: 8%;
  height: 10%;
  width: 90%;
  border-radius: 5px;
}

.spindle {
  margin-top: 20%;
  height: 85%;
  width: 10%;
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.base {
  width: 90%;
  height: 16%;
  background-color: black;
  border-radius: 5px;
}

@media (max-width: 480px) {
  html, body, #app, .app, .hanoi, .introduction {
    height: 100%;
  }

  .hanoi {
    font-size: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "title title title"
                           "t1 t2 t3";
    align-self: center;
  }

  .hanoi.intro {
    grid-template-areas: "title title title"
                           "intro intro intro";
  }

  #t1 {
    grid-area: t1;
  }
  #t2 {
    grid-area: t2;
  }
  #t3 {
    grid-area: t3;
  }

  #t1, #t2, #t3 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .begin {
    margin-top: auto;
    margin-bottom: 2em;
  }

  .tower {
    height: 16em;
  }

  .spindle {
    width: 15%;
    margin-top: 35%;
    height: 80%;
  }

  .disk {
    height: 1.25em;
    margin-bottom: .23em;
  }

  .active-disk {
    margin-top: -1em;
  }

  .disks .disk:nth-child(1){
    width: 25%;
  }

}
